{
    "username": "...",
    "password": "...",
    "ip_provider": "https://ipv4.text.wtfismyip.com",
    "domains": [
        {
            "name": "example.com",
            "records": [
                "foo", "bar", "baz"
            ]
        }
    ]
}